---
layout: default
---

<ul class="posts list">{% for post in site.posts %}
  <li{% if post.external_url %} class="external"{% endif %}>
  	<!-- <span class="circle {{ post.category }}"></span> -->
  	{% if post.external_url %}
	  <a href="{{ post.external_url }}" target="_blank">
		{{ post.title }} <img src="/blog/images/ext_link.png" alt="External link" />
	  </a>
	{% else %}
	  <a href="/blog{{ post.url }}">{{ post.title }}</a>
	{% endif %}
	<span class="meta">
		{% if post.external_url == undefined %}{{ post.content | count_words }} words from {% endif %}{{ post.date | date:"%B %Y" }}
		{% if post.external_url %}
			<span class="external-domain">&bullet; {{ post.external_url | remove:'http://' | remove:'https://' | split:'/' | first }}</span>
		{% endif %}
	</span>
  </li>{% endfor %}
</ul>