body {
	margin:0 auto;
	max-width:650px;
	font-size:19px;
	font-family:Helvetica,Arial,sans-serif,Apple Color Emoji;
}

p {
	font-family:Helvetica,Arial,sans-serif,Apple Color Emoji;
}

h2 {
	font-family:Helvetica,Arial,sans-serif,Apple Color Emoji;
	font-weight:bold;
}

article h1 {
	font-family:Helvetica,Arial,sans-serif,Apple Color Emoji;
	font-weight:bold;
	line-height:1.05;
	padding:0;
}

.post-notification {
	background-color:#ff8d0042;
	padding:20px;
}

header h1,
.footer h1 {
	font-family: 'Sorts Mill Goudy', 'Georgia', serif;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1, h1 a {
	font-size:26px;
	color:#222;
	font-weight:normal;
	margin:0;
}

h1 span {
	font-size:14px;
	color:#555;
	font-style:italic;
}

article img {
	width:100%;
}

iframe {
	border:0;
}

.masthead-container {
	display: flex;
	flex-direction: row;
	margin-top:40px;
}

.masthead-logo img {
	width:50px;
	height:50px;
	margin:-6px -8px 0 -13px;
}

.masthead-text h1 {
	/*font-style: italic;*/
	margin-bottom:-5px;
}

.masthead-tagline,
.meta {
	color:#777;
	font-size:14px;
}

.masthead-tagline {
	/*font-size:14px;*/
	padding-left:4px;
}

.masthead-tagline a {
	color:black;
}

p.caption {
	margin-top:0;
	font-size:12px;
}

.twitter-link {
	display:block;
	background-position:center center;
	background-repeat:no-repeat;
	background: transparent url('https://cantl.in/assets/twitter.svg') no-repeat center;
	background-size: 34px 34px;
	background-color:#00aeff;
	width:64px;
    height:64px;
    border-radius:32px;
	overflow:hidden;
	text-align:-999px;
	font-size:0;
	margin:40px auto 60px auto;
}

.posts.list {
	list-style-type:none;
	font-size:24px;
	padding:0;
	margin:40px 0;
}

.meta {
	font-style:italic;
	padding:4px 0 10px 0;
	display:block;
}

.posts.list li a {
	display:block;
	padding:10px 0 0 0;
	color:#222;
	font-weight:bold;
}

.posts.list li {
	/*border-bottom:1px solid #ccc;*/
}

a:hover, .posts.list li a:hover {
	color:#000;
}

a {
	text-decoration:none;
}

p {
	font-size:19px;
	line-height:1.4;
}

p a {
	color:#0077B5;
	text-decoration:underline;
}

nav {
	margin:10px 0 40px 0;
}

nav a {
	font-size:12px;
	color:white;
	text-transform:lowercase;

	display:block;
	float:left;
	padding:5px 7px;
	border-left:2px solid #fff;
}

nav a:hover {
	color:#fff;
}

nav a:last-child {
	border-right:none;
}

nav a:first-child {
	border-left:none;
	/*padding:5px 7px 5px 0;*/
	/*color:#555;*/
}

nav a.home {
	color:#555;
}

/*nav a.work, .circle.work {
	background-color:#f22057;
}
article.work a {
	color:#f22057;
}

nav a.writing, .circle.writing {
	background-color:#28ab38;
}
article.writing a {
	color:#28ab38;
}

nav a.music, .circle.music {
	background-color:#208df2;
}
article.music a {
	color:#208df2;
}*/

.posts.list,
article {
	clear:both;
	padding-top:45px;
}

article p {
	margin:24px 0;
	line-height:1.5;
}

article h1 {
	font-size:58px;
	/*line-height:52px;*/
	color:#222;
	padding-bottom:6px;
}

h2 {
	margin-bottom:-18px;
	margin-top:28px;
	font-size:21px;
}

h3 {
	margin:1.4em 0 1em 0;
	color:#333;
	padding-bottom:5px;
}

article.nerd-stuff {
}

.circle {
	width:10px;
	height:10px;
	border-radius:5px;
	/*background-color:#28ab38;*/
	background-color:black;
	float:left;
}

.posts.list .circle {
	margin:19px 12px 0 8px;
}

code {
	font-family:'Inconsolata', 'Monaco', 'Courier New', monospace;
	display: inline-block;
	background-color: #efefef;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 2px;
	font-size: 12px;
	margin: 0 2px;
	color: #555;
	text-shadow: 1px 1px white;
}

.after-text {
	color:#777;
	font-style:italic;
}

.webmentions {
  display: none;
  padding:20px 20px 8px 20px;
  background-color:#ffbc4233;
  border-radius:5px;
}

.webmentions h2 {
  font-size: 1.2em;
  padding: 1px 5px 10px 0;
  margin: 0;
}

.webmentions.visible {
  display: block;
}

.webmentions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.webmentions .facepile {
  display: flex;
  flex-wrap: wrap;
}

.webmentions .facepile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  padding: 5px;
  border-radius: 25px;
}

.webmentions ul.activity li {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.webmentions h2 {
	font-size:19px;
}

.webmentions h3 {
	font-size:19px;
	margin:0;
}

.webmentions .credit {
	font-size:14px;
	font-style:italic;
	color:#555;
	padding:0;
	margin:10px 0;
}

@media screen and (max-width: 900px) {
	body {
		max-width:700px;
		padding:0 20px;
	}
	article h1 {
		font-size:45px;
	}
	.masthead-text h1 {
		font-size:22px;
	}
}