<!doctype html>
<title>@cantlin</title>
{% if page and page.title %}<meta name="description" content="&quot;{{ page.title }}&quot;{% if page.date and page.content %}, {{ page.date | date_to_long_string }}. {{ page.content | strip_html | strip_newlines | truncate:70 }}{% else %}.{% endif %}">{% else %}<meta name="description" content="Cantlin Ashrowan's internet blog thing. Strong words, weakly held.">{% endif %}
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<!-- <link href="http://fonts.googleapis.com/css?family=Merriweather" type="text/css" rel="stylesheet" /> -->
<link href="/font.css" type="text/css" rel="stylesheet" />
<link href="/feed.xml" rel="alternate" type="application/rss+xml" title="rss2" />
<link href="/at.css" rel="stylesheet" />

<h1><a href="/">@cantlin</a> <span>strong words weakly held</span></h1>

<nav>
	<a class="nerd-stuff" href="/nerd-stuff">Nerd Stuff</a>
	<a class="writing" href="/writing">Writing</a>
	<a class="music" href="/music">music</a>
</nav>

<div id="last-fm" style="display:none;"></div>

{{ content }}

<footer>
	<a class="twitter-link" href="http://twitter.com/cantlin" title="follow all my things">Follow me on Twitter</a>
</footer>

<script src="/at.js"></script>
