<!doctype html>
<title>{% if page and page.title %}{{ page.title }} - @cantlin{% else %}@cantlin{% endif %}</title>
{% if page and page.title and page.content %}{% else %}<meta name="description" content="Cantlin Ashrowan's internet blog thing. Strong words, weakly held.">{% endif %}
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link href="http://fonts.googleapis.com/css?family=Merriweather" type="text/css" rel="stylesheet" />
<link href="/feed.xml" rel="alternate" type="application/rss+xml" title="rss2" />
<link href="/at.css" rel="stylesheet" />

<h1><a href="http://cantl.in">@cantlin</a> <span>strong words weakly held</span></h1>

<nav>
	<a class="news-news" href="/news-news">news news</a>
	<a class="nerd-stuff" href="/nerd-stuff">nerd stuff</a>
	<a class="writing" href="/writing">writing</a>
	<a class="music" href="/music">music</a>
	<a class="home" href="/">all the things</a>
</nav>

<div id="last-fm" style="display:none;"></div>

{{ content }}

<footer>
	<a class="twitter-link" href="http://twitter.com/cantlin" title="follow all my things">Follow me on Twitter</a>
</footer>

<!-- <script src="/at.js"></script> -->