<!doctype html>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
<link href="/blog/feed.xml" rel="alternate" type="application/rss+xml" title="rss2" />
<link href="/blog/at.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="{{ 'favicon.png' | absolute_url }}">

<meta property="og:site_name" content="Valuable Systems | The blog of Cantlin Ashrowan">

{% if page and page.title and page.content %}
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
	<title>{{ page.title }}</title>
	<meta property="og:title" content="{{ page.title }}">
	<meta property="twitter:title" content="{{ page.title }}">
	<meta name="twitter:creator" content="@cantlin">
	<meta name="twitter:card" content="summary">
	<meta name="author" content="Cantlin Ashrowan">
	<meta name="robots" content="index,follow,max-image-preview:large">
	{% if page.date %}
		<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	{% endif %}
	{% if page.image %}
		<meta property="og:image" content="{{ page.image | absolute_url }}">
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta property="twitter:description" content="{{ page.description }}">
	{% endif %}
{% else %}
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
{% endif %}

<header class="masthead-container">
	<div class="masthead-logo">
		<a href="/blog/">
			<img src="/blog/images/logo.svg">
		</a>
	</div>
	<div class="masthead-text">
		<h1>
			<a href="/blog/">Valuable Systems</a>
		</h1>
		<span class="masthead-tagline">The blog of <a href="https://cantl.in">Cantlin Ashrowan</a></span>
		
	</div>
</header>

<div id="last-fm" style="display:none;"></div>

{{ content }}

<footer>
	<a class="twitter-link" href="http://twitter.com/cantlin" title="follow all my things">Follow me on Twitter</a>
</footer>

<!-- <script src="/at.js"></script> -->