---
layout: default
---

<article class="{{ page.category }}">
  <h1>{{ page.title }}</h1>
  <span class="meta">{{ content | count_words }} words from {{ page.date | date_to_long_string }}</span>
  {{ content }}

  <p class="after-text"><a href="/blog/">Valuable Systems</a> is the blog of <a href="https://cantl.in/">Cantlin Ashrowan</a>, a product leader based in London. You can email him at <a href="mailto:cantlin@gmail.com">cantlin@gmail.com</a>. You can follow him on Twitter <a href="https://twitter.com/cantlin">here.</p>
</article>